// app global css in SCSS form

/* Inter Thin 100 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Thin.ttf') format('ttf');
/*  url('/fonts/Inter-Thin.woff') format('woff');*/
  font-weight: 100;
  font-style: normal;
}

/* Inter ExtraLight 200 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraLight.ttf') format('ttf');
/*  url('/fonts/Inter-ExtraLight.woff') format('woff');*/
  font-weight: 200;
  font-style: normal;
}

/* Inter Light 300 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.ttf') format('ttf');
/*  url('/fonts/Inter-Light.woff') format('woff');*/
  font-weight: 300;
  font-style: normal;
}

/* Inter Regular 400 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('ttf');
/*  url('/fonts/Inter-Regular.woff') format('woff');*/
  font-weight: 400;
  font-style: normal;
}

/* Inter Medium 500 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.ttf') format('ttf');
/*  url('/fonts/Inter-Medium.woff') format('woff');*/
  font-weight: 500;
  font-style: normal;
}

/* Inter SemiBold 600 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.ttf') format('ttf');
/*  url('/fonts/Inter-SemiBold.woff') format('woff');*/
  font-weight: 600;
  font-style: normal;
}

/* Inter Bold 700 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('ttf');
/*  url('/fonts/Inter-Bold.woff') format('woff');*/
  font-weight: 700;
  font-style: normal;
}

/* Inter ExtraBold 800 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraBold.ttf') format('ttf');
/*  url('/fonts/Inter-ExtraBold.woff') format('woff');*/
  font-weight: 800;
  font-style: normal;
}

/* Inter Black 900 */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.ttf') format('ttf');
/*  url('/fonts/Inter-Black.woff') format('woff');*/
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif !important;
}

$classes: 1, 2, 3, 4, 5, 6;

@each $class in $classes {
  .text-h#{$class} {
    letter-spacing: -0.025rem !important;
  }
}

.logo-white {
  //filter: invert(1);
}

.q-table__card {
  border-radius: 0 0 4px 4px;
}

.q-table__bottom {
  border: 0;
}

.q-table {
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);

  tbody {
    tr {
      td {
        border-top: 1px solid rgba(0, 0, 0, 0.10);
        border-bottom: 0 !important;
      }

    }
  }

  thead, th {
    font-weight: 700;
    border-style: none;
    border: 0;
    background-color: rgba(105, 122, 140, .01) !important;
  }

  th, td {
    padding: 6px;

    &:first-of-type {
      padding: 6px 6px 6px 16px;
    }

    &:last-of-type {
      padding: 6px 16px 6px 6px;
    }
  }
}

.q-dark {
  .q-banner {
    background-color: #efefef !important;
  }
  .q-table {
    border-top: 1px solid rgba(255, 255, 255, 0.28);
    border-bottom: 1px solid rgba(255, 255, 255, 0.28);

    tbody {
      tr {
        td {
          border-top: 1px solid rgba(255, 255, 255, 0.28);
          border-bottom: 0 !important;
        }

      }
    }

    thead, th {
      background-color: rgba(105, 122, 140, .15) !important;
    }
  }
}

.q-badge {
  padding: 8px 12px !important;
}

.q-field__append {
  .q-icon {
    opacity: .5;
    transition: 250ms ease all;

    &:hover {
      opacity: 1;
    }
  }
}

.shadow_custom {
  //box-shadow: none !important;
  //box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%) !important;
  // background: #fff !important;
  box-shadow: 0 6px 10px -12px rgba(0, 0, 0, .45) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 0 1000px #fff;
}

.text-sm {
  font-size: 8pt !important;
}

